.ui-slider-popup {
    width: 64px;
    height: 44px;
    font-size: 25px;
    padding-top: 14px;
    opacity: 0.8;
}
.ui-slider-popup {
    position: absolute !important;
    text-align: center;
    z-index: 100;
}
.ui-slider-track .ui-btn.ui-slider-handle {
    font-size: .9em;
    line-height: 30px;
}

.ui-slider-handle.ui-btn.ui-shadow {
    background-color: lightsteelblue;
}

.ui-slider-track {
    width: 75%;
}
