@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #DAE5F3;
	
}

.ui-content{
	padding-top: 0px;
}

.ui-slider-popup {
    width: 64px;
    height: 44px;
    font-size: 25px;
    padding-top: 14px;
    opacity: 0.8;
}
.ui-slider-popup {
    position: absolute !important;
    text-align: center;
    z-index: 100;
}
.ui-slider-track .ui-btn.ui-slider-handle {
    font-size: .9em;
    line-height: 30px;
}

.ui-slider-handle.ui-btn.ui-shadow {
    background-color: lightsteelblue;
}

.ui-slider-track {
    width: 95%;
}

h1{
	color: #005089;
}

#stats {
    position: absolute;
    bottom: 0;
    right: 1%;
    width: 300px;
	height: 78%;
    border: 3px solid #002E4E;
	border-radius: 25px;
}

#stats h2 {
  padding:4px;
  color:#fff;
  margin:0;
  background-color:#0094ff;
  font-size:12pt;
  border-radius: 20px 20px 0px 0px
}

#america {
	position: absolute;
	bottom: 0;
	left: 1%;
	background-color: #778899;
	width: 77%; 
	height: 78%;
	border: 3px solid #002E4E;
	border-radius: 25px;
}
