<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../d3-src/d3.min.js" charset="utf-8"></script>

    <title>Job Growth in the U.S.</title>

  </head>


  <body>
    <center> <h1>Job Growth: 1977-2013</h1> </center>
    
    <div id="map">
      <center>
	<br>
	<svg id="america" height="800" width="1300" style="border:1px solid white;">
		<g>
	  <line x1="20" y1="20" x2="50" y2="20" stroke-width="30" stroke="black"/> 
	  <line x1="70" y1="20" x2="100" y2="20" stroke-width="30"  stroke="black" />  
	  <line x1="120" y1="20" x2="150" y2="20" stroke-width="30"   stroke="black"/>  
	  <line x1="170" y1="20" x2="200" y2="20" stroke-width="30"  stroke="black" />  
	  <line x1="220" y1="20" x2="250" y2="20" stroke-width="30" stroke="black" />  
	  <line x1="270" y1="20" x2="300" y2="20" stroke-width="30" stroke="black" />  
	  <line x1="320" y1="20" x2="350" y2="20" stroke-width="30" stroke="black" />  
	  <line x1="370" y1="20" x2="400" y2="20" stroke-width="30" stroke="black" />  
	  <line x1="420" y1="20" x2="450" y2="20" stroke-width="30" stroke="black" />  
	  <line x1="470" y1="20" x2="500" y2="20" stroke-width="30" stroke="black" />  

	  <rect class="state" id="alabama" x="870" y="610" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)"/>
	  <rect class="state" id="alaska" x="20" y="610" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="arizona" x="300" y="570" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="arkansas" x="690" y="520" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="california" x="160" y="455" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="colorado" x="430" y="450" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="connecticut" x="1110" y="230" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="delaware" x="1070" y="350" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="dc" x="1080" y="410" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="florida" x="980" y="690" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="georgia" x="940" y="610" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="hawaii" x="20" y="700" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="idaho" x="230" y="210" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="illinois" x="770" y="350" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="indiana" x="850" y="330" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="iowa" x="650" y="310" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="kansas" x="550" y="420" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="kentucky" x="810" y="430" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="louisiana" x="690" y="620" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="maine" x="1220" y="50" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="maryland" x="1000" y="370" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="massachusetts" x="1140" y="170" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="michigan" x="850" y="210" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="minnesota" x="650" y="190" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="mississippi" x="790" y="610" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="missouri"  x="670" y="410" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="montana" x="350" y="180" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="nebraska" x="530" y="340" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="nevada" x="220" y="360" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newhampshire" x="1180" y="110" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newjersey" x="1090" y="290" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newmexico" x="430" y="570" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newyork" x="1010" y="170" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="northcarolina" x="980" y="490" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="northdakota" x="510" y="170" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="ohio" x="920" y="260" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="oklahoma" x="580" y="510" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="oregon" x="120" y="260" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="pennsylvania" x="1000" y="270" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="rhodeisland" x="1180" y="230" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="southcarolina" x="960" y="550" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="southdakota" x="520" y="255" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="tennessee" x="820" y="520" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="texas" x="550" y="660" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="utah" x="300" y="450" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="vermont" x="1110" y="110" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="virginia" x="1010" y="430" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="washington" x="100" y="130" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="westvirginia" x="930" y="340" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="wisconsin" x="760" y="220" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="wyoming" x="360" y="320" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  </g>
	</svg>
      </center>
      <svg>
	<div data-role="main" class="ui-content">
	  <form method="post" action="/slider/">
	    <label for="year">Year:</label>
	    <input type="range" id="year" value="{{year}}" min="1977" max="2013" data-popup-enabled="true">
	  </form>
	</div>
    </div>
    <div id="stats">
      {% for stat in info %}
      <li> {{stat}} </li>
      {% endfor %}
    </div>
    </svg>
    <div id="dObj" style="display: none;"> {{ dObj }} </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/js.js"></script>
  </body>
    <script type="text/javascript">
    var svg = d3.select("svg")
      .call(d3.behavior.zoom().on("zoom", function () {
        svg.select("g").attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
      }))
  </script>
</html>
