<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="../d3-src/d3.min.js" charset="utf-8"></script>

    <title>Job Growth in the U.S.</title>

  </head>


  <body>
    <center> <h1>Job Growth: 1977-2013</h1> </center>
    <svg>
      <div id="map">
	<svg id="america" height="800" width="1400" style="border:1px solid black;">
	  <rect class="state" id="alabama" x="950" y="640" width="50" height="50" style="fill:blue;stroke-width:2;stroke:rgb(0,0,0)"/>
	  <rect class="state" id="alaska" x="50" y="50" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="arizona" x="300" y="620" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="arkansas" x="780" y="570" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="california" x="140" y="500" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="colorado" x="400" y="520" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="connecticut" x="1200" y="200" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="delaware" x="1150" y="340" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="california" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="florida" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="georgia" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="hawaii" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="idaho" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="illinois" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="indiana" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="iowa" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="kansas" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="kentucky" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="louisiana" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="maine" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="maryland" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="massachusetts" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="michigan" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="minnesota" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="mississippi" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="missouri" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="montana" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="nebraska" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="nevada" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newhampshire" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newjersey" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newmexico" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="newyork" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="northcarolina" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="northdakota" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="ohio" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="oklahoma" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="oregon" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="pennsylvania" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="rhodeisland" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="southcarolina" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="southdakota" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="tennessee" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="texas" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="utah" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="vermont" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="virginia" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="washington" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="westvirginia" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="wisconsin" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	  <rect class="state" id="wyoming" width="50" height="50" style="fill:rgb(255,255,255);stroke-width:2;stroke:rgb(0,0,0)" />
	</svg>
	<div data-role="main" class="ui-content">
	  <form method="post" action="/slider/">
	    <label for="year">Year:</label>
	    <input type="range" id="year" value="2013" min="1977" max="2013" data-popup-enabled="true">
	  </form>
	</div>
      </div>
      <div id="stats">
	{% for stat in info %}
	<li> {{stat}} </li>
	{% endfor %}
      </div>
    </svg>
    <div id="dObj" style="display: none;"> {{ dObj }} </div>
    <script src="../static/js.js"></script>
  </body>
</html>
